:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--very-dark-blue);
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 0.9375rem;
    color: var(--white);
    text-align: center; 
}

.card {
    background-color: var(--dark-desaturated-blue);
}

.accent {
    color: var(--soft-violet);
}

.main-paragraph {
    font-weight: 400;
    color: var(--slightly-transparent-white-main);
}

.stat-heading {
    font-weight: 400;
    color: var(--slightly-transparent-white-stat);
}

.attribution { 
    font-size: 0.6875rem; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

span {
    display: block;
}